 
.App {
margin: 0 auto;
  background-color: transparent;
  display: inline-block;
  /* display: column; */
  /* justify-content: center;
  align-items: center; */
  text-align: center;
}

.search-box { 
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
}

.box {
  width: 500px;
  height: 300px;
  /* display: inline-block; */
  margin: 10px;
  border : 2px solid #333;
  border-radius : 5px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1,h2,h3 {
  padding: 10px;
  
}
h1 {
  color :#921
}
h2 {
  color : #526
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
